@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100;200;300;400;500;600;700;800;900&display=swap');

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@layer base {
  * { @apply border-border outline-ring/50; }
  body { @apply bg-background text-foreground; }
}

html { font-size: var(--font-size); }
body { font-family: 'Corben', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif; cursor: none; }
h1, h2, h3, h4, h5, h6 { font-family: 'Corben', serif; }
* { cursor: none !important; }


